<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로또 번호 추첨기</title>
    <style>
        h1{
            color: honeydew;
            background: red;
        }
    
    </style>
</head>
<body>
    <h1>로또 번호 추첨기</h1>
    <hr width = "100%" align="left">
    <p><%=@lotto1%></p>
    <p><%=@lotto2%></p>
    <p><%=@lotto3%></p>
    <p><%=@lotto4%></p>
    <p><%=@lotto5%></p>
    <input type="button" value="새로운번호"><br>
</body>
</html>
